body{
    background-color: #141414;
    padding-bottom: 3rem;
}

h1{
    color: white;
    text-transform: uppercase;
}
.wrapper{
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding-top: 2rem;

    &--results{
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-items: center;
      }
    &--btn{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}

form{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input,select, .btn{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 5px 5px 1px hsla(300, 1%, 37%, 0.3);
    border: none;
    border-radius: 5px;
}

input{
    width: 100%;
    position: relative;
    text-align: center;
}


.input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.input-wrapper input {
    padding-right: 30px;
}


input:focus{
    outline: 2px solid #E50914;
    box-shadow: 3px 3px 18px hsla(271, 69%, 15%, 0.5);
}

input::selection {
    background: rgb(76, 175, 107);
    color: #fff;
  }

.btn{
    background-color: #E50914;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    transition: .3s all ease-in-out;
    cursor: pointer;

    &:hover{
    background-color: #470250be;
    color: white;
    }

    &--swiper{
        color: #E50914;
        font-size: 22px;
        cursor: pointer;
        transition: .3s all ease-in-out;

        &:hover{
            color: rgb(110, 3, 3);
        }
    }
    &--is-active{
        background-color: #470250be;
        color: white;
    }
}

.logo{
    margin-inline: auto;
    margin-bottom: 2rem;
}

.show{
    &__single{
        position: relative;
        width: fit-content;
        overflow: hidden;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            translate: -50% 0;
            bottom: 0;
            background: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 50%);
        }
        &:hover .show__rating{
            transform: translateX(0);
        }
    }

    &__title{
        width: 100%;
        font-size: 16px;
        color: white;
        position: absolute;
        bottom: 5%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, 0);
    }

    &__img {
        height: 350px;
        width: 100%;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__rating{
        position: absolute;
        background-color: #E50914;
        color: white;
        font-size: 18px;
        font-weight: 700;
        border-radius: 50%;
        padding: .6rem;
        top: 10px;
        right: 10px;
        transform: translateX(200%);
        transition: .3s all ease-in-out;
    }

    &__details{
        display: flex;
        gap: 1rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 200%);
        background-color: white;
        width: 80%;
        height: 80%;
        z-index: 9;
        padding: 3rem;
        transition: .3s all ease-in-out;

        &--is-active{
            transform: translate(-50%, -50%);
        }
    }
}

